<h1 id="tableLabel">TropiPay User Profile</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!profile"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="profile">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Balance</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>{{ profile.name }} {{ profile.surname }}</td>
      <td>{{ profile.email }}</td>
      <td>{{ profile.phone }}</td>
      <td>{{ profile.balance }}</td>
    </tr>
  </tbody>
</table>
